"*":
  editor:
    invisibles: {}
  core:
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
    showOnStartup: false
  "exception-reporting":
    userId: "9314ec5e-6cda-a2b3-f8dc-434a6a430d4d"
  welcome:
    showOnStartup: false
