[submodule "cookbooks/dotfiles/files/.zsh/bundle/zsh-context-sensitive-alias"]
	path = cookbooks/dotfiles/files/.zsh/bundle/zsh-context-sensitive-alias
	url = https://github.com/uasi/zsh-context-sensitive-alias
[submodule "cookbooks/dotfiles/files/.vim/bundle/neobundle.vim"]
	path = cookbooks/dotfiles/files/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
